Grouping Log Test Utilities

 A convenience project that declares a set of Log Test Utilities. It currently contains:

 * A default {{{${gitlabRepo}/bill-of-materials/blob/master/utilities/log-test-utils/src/main/resources/log4j.xml} log4j.xml}} for testing.

 []

 To include Log Test Utilities add this project as a dependency:

+--
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
      <scope>test</scope>
    </dependency>
+--
