Grouping Log Utilities

 A convenience project that declares a set of Log Utilities. It currently contains:

 * {{{./apidocs/nl/demon/shadowland/freedumbytes/java/util/logging/jersey/Slf4jLoggingFeatureLevelWrapper.html} Slf4jLoggingFeatureLevelWrapper}} alternative Logger for Jersey <<<LoggingFeature>>> to handle all logging of package or class
   as if of supplied level and uses <<<isLoggable>>> to check if <<<log4j.xml>>> is set to this level or higher.

 * {{{./apidocs/nl/demon/shadowland/freedumbytes/java/util/logging/manager/Slf4jLogManager.html} Slf4jLogManager}} custom <<<LogManager>>> for <<<java.util.logging>>> that doesn't require <<<SLF4JBridgeHandler>>>
   and uses {{{./apidocs/nl/demon/shadowland/freedumbytes/java/util/logging/manager/Slf4jLoggerWrapper.html} Slf4jLoggerWrapper}}<<<.isLoggable>>> thus removing the performance issue of the bridge handler.

 []

 To include Log Utilities add this project as a dependency:

+--
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
    </dependency>
+--
