Grouping Jersey Utilities

 A convenience project that declares a set of Jersey Utilities. It currently contains:

 * {{{./apidocs/nl/demon/shadowland/freedumbytes/rest/adapter/package-summary.html} JAXB Adapters}} of Java 8 Local Date/Time API ISO format for custom marshaling.

 * {{{./apidocs/nl/demon/shadowland/freedumbytes/rest/param/package-summary.html} QueryParam Converters}} of Java 8 Local Date/Time API ISO format for custom converting of a message parameter value and the corresponding custom Java type.

 * {{{./apidocs/nl/demon/shadowland/freedumbytes/rest/config/JerseyConfigBuilder.html} JerseyConfigBuilder}} with often used Jersey Server/Client Configuration settings.

 []

 To include Jersey Utilities add this project as a dependency:

+--
    <dependency>
      <groupId>${project.groupId}</groupId>
      <artifactId>${project.artifactId}</artifactId>
      <version>${project.version}</version>
    </dependency>
+--
