<!-- /*
-----------------------------------------------
Blogger Template Style
Name:     Thisaway (Blue)
Date:     29 Feb 2004
Updated by: Blogger Team
----------------------------------------------- */

/* global
----------------------------------------------- */
body {
  margin: 0;
  text-align: center;
  min-width: 760px;
  background: #4386ce url(../images/bg_body.gif) repeat-x left top;
  color: #204063;
  font-size: small;
}

blockquote {
  margin: 0;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  border-left: 6px solid #d8e7f78;
  border-right: 6px solid #d8e7f7;
  color: #477fba;
}

code {
  color: #477fba;
}

hr {
  display: none;
}
/* layout
----------------------------------------------- */
#outer-wrapper {
  margin: 0 auto;
  width: 760px;
  text-align: left;
  font: normal normal 100% Helvetica, Arial, Verdana, 'Trebuchet MS', Sans-serif;
}

#header-wrapper {
  padding-bottom: 15px;
  background: url(../images/bg_header_bottom.gif) no-repeat left bottom;
}

#header {
  background: #204063 url(../images/bg_header.gif) repeat-x left bottom;
}

#content-wrapper {
  position: relative;
  width: 760px;
  background-color: #e9f0f7;
}

#main-wrapper {
  display: inline; /* fixes a strange ie margin bug */
  float: left;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 3px;
  padding: 0;
  word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
  overflow: hidden; /* fix for long non-text content breaking IE sidebar float */
}

#main {
  padding-top: 22px;
  padding-right: 8px;
  padding-bottom: 0;
  padding-left: 8px;
}

.post {
  margin-top: 0;
  margin-right: 8px;
  margin-bottom: 14px;
  margin-left: 21px;
  padding: 0;
  border-bottom: 3px solid #d8e7f7;
}

#comments {
  margin-top: 0;
  margin-right: 16px;
  margin-bottom: 14px;
  margin-left: 29px;
  padding: 10px;
  border: 1px solid #cedef0;
  background-color: #e4ecf5;
}

#sidebar-wrapper {
  display: inline; /* fixes a strange ie margin bug */
  float: right;
  margin-top: 0;
  margin-right: 3px;
  margin-bottom: 0;
  margin-left: 0;
  width: 269px;
  color: #204063;
  line-height: 1.4em;
  font-size: 90%;
  background: url(../images/bg_sidebar.gif) repeat-x left top;
  word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
  overflow: hidden; /* fix for long non-text content breaking IE sidebar float */
}

#sidebar {
  padding-top: 7px;
  padding-right: 11px;
  padding-bottom: 0;
  padding-left: 14px;
  background: url(../images/bg_sidebar_arrow.gif) repeat-y 179px 0;
}

#sidebar .widget {
  margin-bottom: 20px;
}

#footer-wrapper {
  padding-top: 15px;
  background: url(../images/bg_footer_top.gif) no-repeat left top;
  clear: both;
}

#footer {
  background: #152e49 url(../images/bg_footer.gif) repeat-x left top;
  text-align: center;
  min-height: 2em;
}
/* headings
----------------------------------------------- */
#header h1 {
  margin: 0;
  padding-top: 24px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 84px;
  background: url(../images/icon_header_left.gif) no-repeat 16px 26px;
}

h2.date-header {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 29px;
  text-transform: uppercase;
  color: #8facc8;
  background: url(../images/icon_date.gif) no-repeat 13px 0;
  font-size: 80%;
  font-weight: normal;
}

.date-header span {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 5px;
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 0;
  padding-left: 25px;
  background: url(../images/bg_date.gif) no-repeat left 0;
}

.sidebar h2 {
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 36px;
  color: #809fbd;
  background: url(../images/icon_sidebar_heading_left.gif) no-repeat left 45%;
  font: normal bold 100% Helvetica, Arial, Verdana, 'Trebuchet MS', Sans-serif;
}

.sidebar .Profile h2 {
  color: #527595;
  background: url(../images/icon_sidebar_profileheading_left.gif) no-repeat left 45%;
}

.post h3 {
  margin-top: 13px;
  margin-right: 0;
  margin-bottom: 13px;
  margin-left: 0;
  padding: 0;
  color: #477fba;
  font-size: 140%;
}

.post h3 a, .post h3 a:visited {
  color: #477fba;
}

#comments h4 {
  margin-top: 0;
  font-size: 120%;
}
/* text
----------------------------------------------- */
#header h1 {
  color: #eef6fe;
  font: normal bold 200% Helvetica, Arial, Verdana, 'Trebuchet MS', Sans-serif;
}

#header .description {
  margin: 0;
  padding-top: 7px;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 84px;
  color: #eef6fe;
  font: normal normal 106% Helvetica, Arial, Verdana, 'Trebuchet MS', Sans-serif;
}

.post-body p {
  line-height: 1.4em;
  /* Fix bug in IE5/Win with italics in posts */
  margin: 0;
  height: 1%;
  overflow: visible;
}

.post-footer {
  font-size: 80%;
  color: #8facc8;
}

.uncustomized-post-template .post-footer {
  text-align: right;
}

.uncustomized-post-template .post-footer .post-author, .uncustomized-post-template .post-footer .post-timestamp {
  display: block;
  float: left;
  text-align: left;
  margin-right: 4px;
}

p.comment-author {
  font-size: 83%;
}

.deleted-comment {
  font-style: italic;
  color: gray;
}

.comment-body p {
  line-height: 1.4em;
}

.feed-links {
  clear: both;
  line-height: 2.5em;
  margin-bottom: 0.5em;
  margin-left: 29px;
}

#footer .widget {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 55px;
  color: #fef6ee;
  font-size: 90%;
  line-height: 1.4em;
  background: url(../images/icon_footer.gif) no-repeat 16px 0;
}
/* lists
----------------------------------------------- */
.post ul {
  padding-left: 32px;
  list-style-type: none;
  line-height: 1.4em;
}

.post li {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 17px;
  background: url(../images/icon_list_item_left.gif) no-repeat left 3px;
}

#comments ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#comments li {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 1px;
  padding-left: 17px;
  background: url(../images/icon_comment.gif) no-repeat left 3px;
}

.sidebar ul {
  padding: 0;
  list-style-type: none;
  line-height: 1.2em;
  margin-left: 0;
}

.sidebar li {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 4px;
  padding-left: 17px;
  background: url(../images/icon_list_item.gif) no-repeat left 3px;
}

#blog-pager-newer-link {
  float: left;
  margin-left: 29px;
}

#blog-pager-older-link {
  float: right;
  margin-right: 16px;
}

#blog-pager {
  text-align: center;
}
/* links
----------------------------------------------- */
a {
  color: #4386ce;
  font-weight: bold;
}

a:hover {
  color: #2462a5;
}

a.comment-link {
  /* ie5.0/win doesn't apply padding to inline elements,
so we hide these two declarations from it */
  background /* */: /**/ url(../images/icon_comment.gif) no-repeat left 45%;
  padding-left: 14px;
}

html>body a.comment-link {
  /* respecified, for ie5/mac's benefit */
  background: url(../images/icon_comment.gif) no-repeat left 45%;
  padding-left: 14px;
}

.sidebar a {
  color: #599be2;
}

.sidebar a:hover {
  color: #3372b6;
}

#header h1 a {
  color: #eef6fe;
  text-decoration: none;
}

#header h1 a:hover {
  color: #b4c7d9;
}

.post h3 a {
  text-decoration: none;
}

a img {
  border-width: 0;
}

.clear {
  clear: both;
  line-height: 0;
  height: 0;
}

.profile-textblock {
  clear: both;
  margin-bottom: 10px;
  margin-left: 0;
}

.profile-img {
  float: left;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  padding: 3px;
  border: 1px solid #bdd4eb;
}

.profile-link {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 17px;
  background: url(../images/icon_profile_left.gif) no-repeat left 0;
}
/** Page structure tweaks for layout editor wireframe */
body#layout #main, body#layout #sidebar {
  padding: 0;
}
-->
